<h1>New Position</h1>

<%= form_with(model: @position) do |f| %>
	<%= f.label :memberID %>
	<%= f.select :memberID, @members.map { |member| [member.name, member.id] } %>
	<%= f.label "Position Name" %>
	<%= f.text_field :position_name %>
	<%= f.submit %>
<% end %>